<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Game Buddy</title>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Thasadith|Unica+One" rel="stylesheet">
    <link href="home.css" rel="stylesheet" />
</head>

<body>
     
<section class="header">
    <img src="https://cdn.glitch.com/8e36f590-d0a9-46d1-86d8-1f6fadc7140a%2Fgb.png?v=1565297077155" class="logo">
    <nav id="topnav">
        <a href="">File</a>
        <a href="">Mods</a>
        <a href="">Settings</a>
        <a href="">Help</a>
        <a href="http://flip3.engr.oregonstate.edu:7595">Login</a>
    </nav>
</section>

<aside class="sync">
  <h1 class ="title">Game Buddy</h1>
  <div class="syncList"></div>
</aside>

  
<aside class="news">
  <h1 class ="title">News</h1>
  <div class="carousel">
  
  <div class="newsStory">
    <img src="https://cdn.glitch.com/8e36f590-d0a9-46d1-86d8-1f6fadc7140a%2Fgame1.PNG?v=1565307835522" class="newsImg">

    <p>
        <h3>Lorem ipsum</h3>
    
        dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

        <h3>Ut enim ad minim</h3>
        
        Veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 

        <h3>Duis aute</h3>
    
    </p>
  </div>
  
  <div class="moreNews"> </div>
  
  </div>
</aside>
    
<section class="content">
    <div class="bg"> </div>
    <div class="infoBox">
        <h1>Welcome, Gamer.</h1>
    </div>
    <div class="linksContainer">
      <a href="#" class="links">Games</a>
      <a href="#" class="links">Friends</a>
      <a href="/PlatformRegistration" class="links">Platforms</a>    
    </div>
</section>

</body> 

   
</html>