<!-- Game Buddy register page -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game Buddy</title>
    <meta name="description" content="Register">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/register.js" defer></script>
  </head>
  <body>
    <header>
      <h1>
        Register a new account
      </h1>
    </header>

    <main>
      
      <div>
        <h5>
          Username: 
        </h5><input name="username" type="text" placeholder="username" id="usernameInput">
        Min 3 chars, max 25 chars.<br>
        <h5>
          Password: 
        </h5><input name="password" type="text" placeholder="password" id="passwordInput">
        Min 6 chars, max 25 chars.<br>
        <br>
        <button id="registerButton" onclick="registerButton()">
          Register
        </button>
      </div>    
      <br>
      <section id="responseText">
        
      </section>
      
    </main>
  </body>
</html>
